body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3538da;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
}

button {
    background-color: #3538da;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2c2e88;
}

a {
    text-decoration: none;
    color: #1e90ff;
    margin: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

p {
    color: #333333;
    margin: 10px 0;
}

.checkbox {
    margin: 0;
}

label {
    color: #333333;
}

.forgot-password {
    float: right;
    color: #1e90ff;
    margin-top: 20px;
}

.register-link {
    color: #1e90ff;
}